 <!doctype html>
<html lang="en" ng-app="itpwebdev">
<head>
	<title>ITP WebDev</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./../../css/normalize.css">
	<link rel="stylesheet" href="./../../vendor/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="./../../css/font-awesome-4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="./../../css/github.css">
  <link rel="stylesheet" href="./../../vendor/highlight/styles/dark.css">
	<link rel="stylesheet" href="./../../css/main.css">
</head>
<body>

<div class="bar" style="background: #555;">
  <ul class="itp-external-links">
      <li><a href="/">
        <i class="fa fa-home fa-lg"></i>
      </a></li>
      <li><a href="https://www.facebook.com/USCViterbiITP" target="_blank">
        <i class="fa fa-facebook fa-lg"></i>
      </a></li>
      <li><a href="https://twitter.com/uscitp" target="_blank">
        <i class="fa fa-twitter fa-lg"></i>
      </a></li>
      <li><a href="https://www.youtube.com/channel/UCLhLYSysw4juedNhsXGo7Vw?feature=watch" target="_blank">
        <i class="fa fa-youtube fa-lg"></i>
        Lectures
      </a></li>
      <li>
        <a href="/playground" target="_blank">
          <i class="fa fa-code fa-lg"></i>
          Code Playground
        </a>
      </li>
      <li>
        <a href="#/jobs">
          <i class="fa fa-money fa-lg"></i>
          Jobs
        </a>
      </li>
  </ul>
</div>

<div class="container">