<h1>Web Development Opportunities</h1>
<hr>
<p>April 3, 2014</p>

<pre>
Apply: email HR <jobs@one-k.com> by APRIL 18th

At 1K Studios in Burbank, we build jaw-dropping interactive web and mobile products. We currently have 4 internship positions for this Summer:

SOFTWARE DEVELOPER/ENGINEER POSITIONS

1. Front-end

Build interactive front-end elements with heavy visual effects and animations achieved by the combination of CSS, HTML5, and JavaScript. You WILL NOT build typical functional front-end elements like drop-down list or validations (these are old school and boring). Instead you WILL build jaw-dropping parallax effects and the likes using hardware-accelerated techniques and pushing CSS, HTML5, and Javascript to their limits.

You need to have a strong sense of design/visual and want to be an expert in animation effects with Javascript. Exposure to CSS/Javascript library/framework such as Bootstrap, jQuery, Backbone, or AngularJS would be beneficial.

2. Back-end

Build CMS and eCommerce backends that power our front-end and mobile applications. You will use open-source platforms such as ExpressionEngine, Wordpress, Joomla, Drupal, Magento, etc.; architect databases; integrate with 3rd party services such as video delivery platforms, fulfillment centers; and build web services on top of those existing platforms.

You need to understand the MVC model in web applications and are passionate about high-performance and scalable backend architectures. Hey, where should we cache the data? And of course, you need to be sufficient in Linux/LAMP environment.

3. Mobile

Build user-facing products on mobile, iOS and/or Android applications. You will build user-friendly consumer applications based on technical wireframes and specifications. Think about mobile applications that interact with many web services to communicate and retrieve/exchange data (one of those services could be the backend CMS or eCommerce described above). Performance & seamless user experience are the keys here.

You must have at least published an iOS or Android app, or being able to showcase a running app on your device. Most important of all, you are a heavy mobile user and want your app to be in the hands of thousands and millions of users.

4. Tools

Build in-house software and custom tools. You will develop continuous-integration tool where all code commits will be pulled, built, and deployed automatically for our web products to staging and production environments, and for our mobile products to over the air distribution like HockeyKit and TestFlight. You will develop scripts to compose our code commits into release notes. You will build various other tools that support the software development cycle of our web and mobile products.

You will learn the most about engineering process in this position. Out of the 4 positions, you need to have the most general development knowledge for this. So tell us all technical things that you know. Exposure to Hudson/Jenkins, and command line scripting would be beneficial.

GENERAL REQUIREMENTS

- Computer Science or related majors with relevant course works.
- Grad or undergrad (junior/senior) that is fluent in one OOP programming language.
- Problem solver. Technically savvy. Strong attention to details.
- Have worked in team projects. Experienced with source control and development cycles.
- IMPORTANT: strong drive to learn!

What we offer

- Paid and/or for-credits internships.
- 3-month full-time position (part-time is possible for grad students).
- Goals focused for your internships in an agile development environment.
- 1-on-1 mentoring through out your internship.

How to apply

- Email 1K Studios’ HR (above) by APRIL 18th with:
- Subject line: “Development Internship 2014”
- Your choice of 1 or at most 2 positions listed above.
- Your resume with major, GPA, relevant courses, and experiences (if any).
- Optional: brief cover letter / paragraphs about yourself with relevant links to your fun or school projects.
</pre>

<hr>


<p>March 24, 2014</p>

<p>My name is David Black and I am a USC faculty member at the Keck
School of Medicine. I was looking at your USC IT program website in
hopes of locating a student who you think is proficient in web
development (for example, simple design and layout templates for ~20
pages in Wordpress).</p>

<p>I have founded a research association and I was hoping you might help
me identify a student who may be interested in building their
portfolio by helping me build a professional website. I can provide a
stipend for the student up to $500 depending on time needed.</p>

<p>Thank you for your guidance for locating a student that might fit well
for this role at USC.</p>

<p>Contact: David Black - davidbla@usc.edu</p>

<hr>
<p>March 22, 2014</p>

DrumCorpsConnect will be an innovative social networking web application for the DCI/WGI community.  (see http://www.dci.org/ and http://www.wgi.org/ )
Currently there is a 21 million potential users with a growing fan base every year.  
<br>

We are looking for people with:

<ul>
<li>  strong SQL skills
<li>  people extremely familiar with Laravel (or similar framework)
<li>  strong knowledge of MVC concepts
<li>  knowledge of Facebook, Instagram, Twitter, Linked in, Google Maps API's
<li> minimum work 10-12 hours per week.  
</ul>
<br>
This is a payed position and this will be discussed upon interview.  
<br>
Please email with any questions at drumcorpsconnect@gmail.com

<hr>

We are looking for a web developer to assist our team in developing a website for a fairly extensive project for the Cinema School. While we can't pay, the project itself has the opportunity to be shown to some high profile people across multiple industries, with the possibility of growing into something major and more long term.
<br><br>
We are looking for someone preferably with skills in Wordpress, some css and some php though those are not essential if you can demonstrate good enough skill in developing a website a different way. 
<br><br>
You also must be in a position to meet with us at least 1-2 times a week, as well as make some pretty decent progress relatively fast.
<br><br>
If you're interested, or want more information, please send me an email at bskaggs@usc.edu.

<hr>