<h1>Web Development Opportunities</h1>

<p>March 22, 2014</p>

DrumCorpsConnect will be an innovative social networking web application for the DCI/WGI community.  (see http://www.dci.org/ and http://www.wgi.org/ )
Currently there is a 21 million potential users with a growing fan base every year.  
<br>

We are looking for people with:

<ul>
<li>  strong SQL skills
<li>  people extremely familiar with Laravel (or similar framework)
<li>  strong knowledge of MVC concepts
<li>  knowledge of Facebook, Instagram, Twitter, Linked in, Google Maps API's
<li> minimum work 10-12 hours per week.  
</ul>
<br>
This is a payed position and this will be discussed upon interview.  
<br>
Please email with any questions at drumcorpsconnect@gmail.com

<hr>

We are looking for a web developer to assist our team in developing a website for a fairly extensive project for the Cinema School. While we can't pay, the project itself has the opportunity to be shown to some high profile people across multiple industries, with the possibility of growing into something major and more long term.
<br><br>
We are looking for someone preferably with skills in Wordpress, some css and some php though those are not essential if you can demonstrate good enough skill in developing a website a different way. 
<br><br>
You also must be in a position to meet with us at least 1-2 times a week, as well as make some pretty decent progress relatively fast.
<br><br>
If you're interested, or want more information, please send me an email at bskaggs@usc.edu.

<hr>