<!doctype html>
<html>
<head>
	<title>Playground</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="vendor/codemirror-3.20/lib/codemirror.css">
	<link rel="stylesheet" href="vendor/codemirror-3.20/theme/eclipse.css">
	<link rel="stylesheet" href="css/playground.css">
</head>
<body>

<div class="main">
	<div id="nav">
		<span>Add Library</span>
		<select id="libraries">
			<option value="">--</option>
			<option value="jquery">jQuery 1.8</option>
			<option value="underscore">Underscore (latest)</option>
			<option value="handlebars">Handlebars (latest)</option>
			<option value="backbone">Backbone (latest)</option>
		</select>
	</div>
	<div class="editor-container">
		<h4 class="indent">Type some code below:</h4>
		<div class="editor">
			<textarea></textarea>
		</div>
	</div>
	<div class="preview-container">
		<h4>Preview</h4>
		<iframe src="about:blank" id="preview" class="preview" frameborder="0"></iframe>
	</div>
	<div style="clear: both;"></div>	
</div>

<!-- Create a simple CodeMirror instance -->

<script src="vendor/codemirror-3.20/lib/codemirror.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/playground/app.js"></script>

</body>
</html>