<h2>ITP Web Development</h2>
<p>Please choose a course to visit the class site.</p>

<h4>Fall 2015</h4>
<ul>
<!-- 	<li><a href="#/104">ITP 104 - Web Publishing</a></li>
	<li><a href="#/300a">ITP 300a - Database Web Development (David)</a></li>
	<li><a href="#/300b">ITP 300b - Database Web Development (Yuanbo)</a></li> -->
	<li><a href="#/404">ITP 404 - Modern Technologies in Web Development</a></li>
</ul>

<h4>Spring 2016</h4>
<ul>
<!-- 	<li><a href="#/104">ITP 104 - Web Publishing</a></li>
	<li><a href="#/301a">ITP 301a - Interactive Web Development (David)</a></li>
	<li><a href="#/301b">ITP 301b - Interactive Web Development (Yuanbo)</a></li> -->
	<li><a href="#/104">ITP 104 - Web Publishing</a></li>
	<li><a href="#/405">ITP 405 - Professional Applications and Frameworks in Web Development</a></li>
</ul>

<!-- <h4>Spring 2014 Guest Lectures</h4>
<ul>
	<li>
		ITP 460 - 
		<a href="https://www.dropbox.com/s/7kk9icrcw4ip48m/version-control.pdf">Version Control with Git and Github (PDF slides)</a>
	</li>
	<li>
		ITP 460 - <a href="https://www.dropbox.com/s/9gu0lqsafj6oo9d/team-js-dev.pdf">Team JavaScript Development (PDF slides)</a>,
		<a href="https://github.com/skaterdav85/gulp-javascript-build-demo">Gulp.js Starter</a>
	</li>
</ul>
 -->