<p>TBA</p>

<!-- Mondays:
<ul>
	<li>4-6pm in KAP 107 with Omkar (karande@usc.edu)</li>
	<li>5-6pm in KAP 160 with <strong>Kieran</strong> (kieranre@usc.edu)</li>
</ul>

Tuesdays:
<ul>
	<li>9:30-11am in KAP107 with Rebecca (caseyr@usc.edu) </li>
</ul>

Wednesdays:
<ul>
	<li>12:30-2pm in KAP107 with <strong>Anushila</strong> (anushild@usc.edu)</li>
</ul>

Thursdays:
<ul>
	<li>9:30-11am in KAP107 with Rebecca (caseyr@usc.edu)</li>
</ul>

Fridays:
<ul>
	<li>11 a.m. - 1 p.m. in OHE540 with Xueyuan (xueyuanw@usc.edu)</li>
</ul> -->

<!-- <iframe src="http://webdev.usc.edu/openlabs_20151.cfm" frameborder="0" height="0" width="100%" seamless> -->
