<div>
<strong>Mondays:</strong><br />
               5:30-7pm in OHE 540 -- with Nayeon (104 and 302)

</div>
<div>
 
<strong>Tuesdays:</strong><br />
                11:00am-Noon in KAP160 (104 lab) <br />
                3:30-4:50 in KAP267 (104 and 302) <br />
                6:30-7:30pm in KAP160 (104 lab) <br />
</div>
<div>

<strong>Wednesdays:</strong><br />
                5 - 7:50pm in KAP107 -- with Chong (104 and 302)
              </div>
              <div>
 
<strong>Thursdays:</strong><br />
                5-6:30pm in OHE542 with Cristian (104, 302, 300)
              </div>
              <div>
<strong>Fridays:</strong><br />
                Noon - 2pm in OHE540 with LinWei (104, 302)<br />
                2pm - 4pm in OHE540 with Wei (104, 302)
              </div>