<!-- <p>TBA</p> -->

Mondays:
<ul>
    <li>11am-12pm in VPA inner courtyard with <strong>Caleb</strong></li>
    <li>2:30pm-4:30pm in KAP 107 with Sherry</li>
    <li>3pm-5pm in KAP 107 with Ivy and Rachel</li>
	<li>4pm-5pm in KAP 107 with <strong>Jay</strong></li>
</ul>

Tuesdays:
<ul>
    <li>10am-12pm in OHE406 with Zhongyang</li>
    <li>2-4pm in OHE542 with Jared</li>
	<li>5-6pm in KAP160 with <strong>Nayeon</strong></li>
</ul>

Wednesdays:
<ul>
    <li>11am-12pm in VPA inner courtyard with <strong>Caleb</strong></li>
	<li>12pm-2pm in OHE542 with Jane</li>
</ul>

Thursdays:
<ul>
	<li>10am-12pm in OHE406 with Zhongyang</li>
    <li>2-4pm in OHE542 with Jared</li>
</ul>

Fridays:
<ul>
    <li>11am-1pm in OHE540 with Shengwei </li>
	<li>1pm-3pm in OHE540 with Shamin</li>
    <li>3:30pm-4:30pm in OHE540 with <strong>Andrew</strong></li>
</ul>

<!-- <iframe src="http://webdev.usc.edu/openlabs_20151.cfm" frameborder="0" height="0" width="100%" seamless> -->
