<script src="./../../js/vendor/jquery-1.9.1.js"></script>
<script src="./../../js/vendor/handlebars-1.0.0.js"></script>
<script src="./../../js/vendor/ember-1.1.2.js"></script>
<script src="./../../js/vendor/ember-data.js"></script>
<script src="./../../js/forum/app.js"></script>

</body>
</html>