<% include header %>

<script type="text/x-handlebars" data-template-name="application">
	<div class="navbar navbar-fixed-top">
		<ul class="nav nav-pills">
			<li>{{#link-to 'threads'}}Questions{{/link-to}}</li>
			<li>{{#link-to 'newThread'}}Ask a Question{{/link-to}}</li>
			<li><a href="./forum/logout">Logout</a></li>
		</ul>
	</div>
		
	<div class="container">
		{{outlet}}
	</div>
</script>

<script type="text/x-handlebars" data-template-name="_filters">
	<nav class="filters-container">
		<h4>Filters</h4>
		<span class="label label-info pointer" {{action 'filterByCourse' 'all'}}>All</span>
		<span class="label label-info pointer" {{action 'filterByCourse' '104'}}>ITP 104</span>
		<span class="label label-info pointer" {{action 'filterByCourse' '301'}}>ITP 301a</span>
		<span class="label label-info pointer" {{action 'filterByCourse' '499'}}>ITP 499</span>
	</nav>
</script>

<script type="text/x-handlebars" data-template-name="threads">
	{{partial 'filters'}}
	<div class="threads">
		{{#each}}
			<div class="thread">
				<div class="col-md-8">
					<h4>
						{{#link-to 'thread' this.id}}
							{{title}}
						{{/link-to}}
					</h4>
				</div>
				<div class="col-md-4">
					<p>dsf</p>
				</div>
			</div>
		{{else}}
			<p>No threads created yet. Be the first!</p>
		{{/each}}
	</div>
</script>

<script type="text/x-handlebars" data-template-name="thread">
	{{#link-to 'threads'}}Back to threads{{/link-to}}
	<h3>{{title}}</h3>
	<p>{{body}}</p>
</script>

<script type="text/x-handlebars" data-template-name="newThread">
	<h2>Create a new Thread</h2>
</script>

<% include footer %>
