#outercontainer {
	margin: auto;
	width: 850px;
	text-align: center;
}
#password-container {
	float: left;
	width: 300px; height:300px;
	text-align: center;
	padding: 10px;
}
#validation-results {
	float: left;
	width: 500px; height:300px;
	padding: 10px;
}
.vrule {
	width: 450px;
	background-color: #FFFF00;
	padding: 5px; margin:5px;
}
.samplebox {
	height: 20px;
	width: 50px;
	float: left;
	margin:5px;
}
#samplecontainer {
	margin: auto;
	width: 400px; height:35px;
}