<% include ./../header.ejs %>
	<div>
		<h1>ITP Web Dev Forum</h1>

		<form action="store" method="post">
			<h1>Create an account</h1>
			<div>
				First Name: <input type="text" name="first_name">
			</div>
			<div>
				Last Name: <input type="text" name="last_name">
			</div>
			<div>
				Username (USC email prefix): <input type="text" name="username" placeholder="dtang">
			</div>
			<div>
				Student ID: <input type="text" name="student_id">
			</div>
			<div>
				Password: <input type="password" name="password">
			</div>
			<div>
				<input type="submit" value="Create Account">
			</div>
		</form>

	</div>
<% include ./../footer %>